body {
	background-color: #191919;
	background-color: #333333;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
}

#circle {
	border-radius: 50%;
	width: 30%;
	min-width: 250px;
	background: url(Logo.png);
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	margin-left: 35%;
	margin-top: 150px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 165, 0);
	z-index: 1;
	position: absolute;

	-webkit-box-shadow: inset 0px 0px 40px 10px rgba(255, 165, 0,1);
	-moz-box-shadow: inset 0px 0px 40px 10px rgba(255, 165, 0,1);
	box-shadow: inset 0px 0px 40px 10px rgba(255, 165, 0,1);
}

#element {
    height: 0;
    padding-bottom: 100%;
    visibility: hidden;
    position: relative;
}

#upperleft {
	display: inline-block;
	width: 35%;
	height: 225px;
	margin-left: 8%;
	margin-top: 6%;
	float: left;
	background: url(IMG0234.JPG);
    background-size: cover;
    background-repeat: no-repeat;
	background-color: #70C68D;
	background-position: center;
	border-radius: 15px;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(255, 165, 0);
}

#upperright { 
	display: inline-block;
	width: 35%;
	height: 225px;
	margin-right: 8%;
	margin-top: 6%;
	float: right;
	background: url(square.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	background-color: #70C68D;
	border-radius: 15px;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(255, 165, 0);
}

#bottomleft {
	display: inline-block;
	width: 35%;
	height: 225px;
	margin-top: 6%;
	margin-left: 8%;
	float: left;
	background: url(instruments.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	background-color: #70C68D;
	border-radius: 15px;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(255, 165, 0);
}

#bottomright {
	display: inline-block;
	width: 35%;
	height: 225px;
	margin-top: 6%;
	margin-right: 8%;
	margin-bottom: 50px;
	float: right;
	background: url(IMG0911.JPG);
    background-size: cover;
    background-repeat: no-repeat;
	background-color: #70C68D;
	background-position: center;
	border-radius: 15px;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(255, 165, 0);
}

.layer {
	background-color: rgba(255, 255, 255, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: -37px;

    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;

    line-height: 250%;
}


#nav ul {
	top: 0;
	z-index: 100;
	border-top: 0;
	width: 100%;
 	list-style: none;
	background: -webkit-linear-gradient(#70C68D, #009933); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#70C68D, #009933); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#70C68D, #009933); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#70C68D, #009933); /* Standard syntax */
 	text-align: center;
 	padding: 0;
 	margin: 0;
}

#nav li {
 	line-height: 30px;
 	border-bottom: 1px solid #002E0F;
 	border-left: 1px solid #002E0F;
 	white-space: nowrap;
 	text-align: center;
}
 
#nav a {
	font-size: x-large;
 	text-decoration: none;
    text-align: center;
	color: black;
	display: block;
	transition: .3s background-color;
}
 
#nav a:hover {
 	background-color: #009933;
}
 
#nav a.active {
 	background-color: #fff;
 	color: #444;
 	cursor: default;
}
 
@media screen and (min-width: 925px) {

  #nav li {
    width: auto;
    text-align: center;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  #nav li {
    display: inline-block;
    margin-right: -4px;
  }

  #nav a {
  	padding: 0 10px 0 10px;
  }
}


.minilogo {
	display: inline;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: url(Logo.png);
	background-size: 90% 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	margin-left: 15px;
	margin-top: 4px;
	margin-right: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(255, 165, 0);
	z-index: 1;
	position: relative;
}

#news {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 8px;
	background-color: rgb(255, 165, 0);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#divider2 {
	position: relative;
	display: none;
	width: 100%;
	height: 8px;
	background-color: rgb(255, 165, 0);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0 0 3px 0;
	padding: 0 0 0 0;
}

#divider3 {
	position: relative;
	display: none;
	width: 100%;
	height: 8px;
	background-color: rgb(255, 165, 0);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0 0 4px 0;
	padding: 0 0 0 0;
}

#aboutssg {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 8px;
	background-color: rgb(255, 165, 0);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0 0 5px 0;
	padding: 0 0 0 0;
}

#ssgmusic {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 8px;
	background-color: rgb(255, 165, 0);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0 0 5px 0;
	padding: 0 0 0 0;
}

#ssggallery {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 8px;
	background-color: rgb(255, 165, 0);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0 0 5px 0;
	padding: 0 0 0 0;
}

#ssgschedule {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 8px;
	background-color: rgb(255, 165, 0);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0 0 5px 0;
	padding: 0 0 0 0;
}

#section-header {
	font-variant: small-caps;
	font-weight: normal;
	text-align: center;
	letter-spacing: 5px;
	text-decoration: underline;
}

#newsection {
	width: 100%;
	margin: -5px 0 0 0;
	padding: 0 0 0 0;
	position: relative;
	overflow: hidden;
}

#section1 {
	width: 75%;
	background-color: white;
	float: left;
}


.fb-page {
	width: 25%;
	background-color: #70C68D;
	position: relative;
	right: 0;
	margin-bottom: 50px;
}

.section2 {
	width: 25%;
	position: relative;
	right: 0;
	float: right;
}

#newstable1 {
	width: 50%;
	border: 0px;
	float: left;
	padding: 0 5% 0 5%;
	font-size: large;
}

#newstable2 {
	width: 50%;
	border: 0px;
	float: right;
	padding: 0 5% 0 5%;
	font-size: large;
}

#newstable3 {
	width: 50%;
	border: 0px;
	float: left;
	padding: 0 8% 0 8%;
	font-size: large;
}

#newstable4 {
	width: 50%;
	border: 0px;
	float: right;
	padding: 0 8% 0 8%;
	font-size: large;
}

#newstable1 th {
	text-decoration: underline;
	font-size: x-large;
}

#newstable2 th {
	text-decoration: underline;
	font-size: x-large;
}

#newstable3 th {
	text-decoration: underline;
	font-size: x-large;
	text-align: left;
}

#newstable4 th {
	text-decoration: underline;
	font-size: x-large;
	text-align: left;
}

#aboutus {
	position: absolute;
	margin-top: 5px;
}

#description {
	width: 63%;
	padding: 0 2% 0 5%;
	color: white;
	font-size: large;
	float: left;
}

#descimage {
	width: 25%;
	margin: 0 5% 25px 0;
	float: right;
	position: relative;
}

.description2 {
	width: 73%;
	margin: 0 5% 25px 2%;
	color: white;
	font-size: large;
	float: right;
}

#newsdesc {
	width: 90%;
	margin: 0 5% 25px 5%;
	color: white;
	font-size: large;
}

#newsimage {
	width: 100%; 
	max-width: 500px;
	padding-right: 15px; 
	padding-left: 15px;
	margin-bottom: 20px
}

.descimage2 {
	width: 15%;
	margin: -85px 0 25px 5%;
	float: left;
}

.description3 {
	width: 73%;
	margin: 0 2% 25px 5%;
	color: white;
	font-size: large;
	float: left;
}

.descimage3 {
	width: 15%;
	margin: -85px 5% 25px 0;
	float: right;
	position: relative;
}

#membername {
	font-size: x-large;
	color: white;
	text-align: center;
	margin-top: 25px;
}

hr {
	width: 94%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-color: rgb(255, 165, 0);
}

#music {
	width: 100%;
	background-color: white;
	padding-bottom: 25px;
}

#gallery {
	width: 100%;
	margin-top: 5px;

}

.image {
	width: 25%;
	margin: 10px 10px 10px 10px;
}

#image1 {
	width: 50%;
	margin: 10px 10px 10px 10px;
}

#newsection2 {
	width: 100%;
	margin: 10px 0 0 0;
	padding: 0 0 0 0;
	position: relative;
	overflow: hidden;
}

#schedule {
	width: 60%;
	background-color: white;
	float: left;
}

#section3 {
	width: 40%;
	height: 100%;
	background-color: #70C68D;
	position: absolute;
	right: 0;
}

